<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

  <!-- 启用@AspectJ注解 -->
  <aop:aspectj-autoproxy/>

  <!--<bean id="serviceProfiler" class="com.github.trace.aop.ServiceProfiler"/>
  <aop:config>
    <aop:aspect ref="serviceProfiler">
      <aop:around method="profile" pointcut="execution(* com.fxiaoke.publish.service.GitLabService.*(..))"/>
    </aop:aspect>
  </aop:config>-->
</beans>
