<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/util
         http://www.springframework.org/schema/util/spring-util-3.0.xsd">

  <description>Shiro安全配置</description>

  <!-- Shiro Filter -->
  <bean id="shiroFilter" class="com.github.shiro.support.MyShiroFilterFactoryBean"
        p:securityManager-ref="securityManager"
        p:successUrl="/"
        p:unauthorizedUrl="/unauthorized">
    <property name="filters">
      <util:map>
        <entry key="casFilter" value-ref="casFilter"/>
      </util:map>
    </property>
    <property name="filterChainDefinitions">
      <value>
        /shiro-cas = casFilter
        /unauthorized = anon
        /trigger/** = anon
        /ping = anon
        /logback/** = anon
        /sync/** = anon
        /ajax/biz = anon
        /biz/bizInfoJSON = anon
        /biz/projectUsersJSON = anon
        /biz/owner = anon
        /biz/appId/edit = anon
        /** = user
      </value>
    </property>
  </bean>

  <bean id="casFilter" class="com.github.shiro.support.MyCasFilter" p:failureUrl="/unauthorized"/>

  <bean id="casRealm" class="com.github.shiro.support.ShiroCasRealm"
        p:defaultRoles="user"
        p:defaultPermissions=""
        p:roleAttributeNames="roles"
        p:permissionAttributeNames="permissions"/>

  <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" p:realm-ref="casRealm" p:subjectFactory-ref="casSubjectFactory" p:cacheManager-ref="shiroCache"/>

  <!-- 如果要实现cas的remember me的功能，需要用到下面这个bean，并设置到securityManager的subjectFactory中 -->
  <bean id="casSubjectFactory" class="org.apache.shiro.cas.CasSubjectFactory"/>

  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" p:staticMethod="org.apache.shiro.SecurityUtils.setSecurityManager" p:arguments-ref="securityManager"/>

  <bean id="shiroCache" class="com.github.shiro.support.SpringCacheManagerWrapper" p:cacheManager-ref="cacheManager"/>

  <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
  <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

  <!--<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>-->

  <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    <property name="securityManager" ref="securityManager"/>
  </bean>

</beans>
